:root .DarkTheme {
  --background: var(--grafite);
  --font-color: var(--light-grey);
  --link-color: var(--biege);
  --border: var(--light-grey);
  --card-background: linear-gradient(270deg, var(--light-grey-2) 0, var(--background) 93%);
}