.Wrapper {
  display: flex;
  padding: 5px;
  margin: 17px 25px;
  width: calc(50% - 50px);
  background: var(--card-background);
  border-radius: 5px;

  @media (min-width: 769px) {
    width: calc(33.33% - 50px);
  }
}

.ProductInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  width: 100%;
  height: 100%;
}

.ProductName {
  width: 100%;
  font-size: 0.9em;

  @media (min-width: 769px) {
    font-size: 1.1em;
  }
}

.Image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ImgWrapper {
  position: relative;
  min-width: 90px;
  margin-top: -20px;
  margin-left: -15px;
  padding-bottom: 315px;
  //overflow: hidden;
  border-radius: 5px;
  transform: rotate(-15deg);

  &:before{
    position: absolute;
    content: '';
    width: calc(81%);
    height: calc(100% - 70px);
    top: 49%;
    left: 22%;
    transform: translate(-50%, -50%) rotate(0);
    background: rgba(0, 0, 0, 0);
    border-radius: 70px;
  }
}

:root .Animate{
  animation: Anim 3ms linear;
  background: red;
}

.PropertiesWrapper {
  margin-top: 20px;
}

.PricesWrapper {
  margin-top: 20px;
}

.Price {

}

.OldPrice {
  padding-right: 5px;
}

.NewPrice {
  color: var(--coral);
  text-shadow: 1px 1px 0 var(--black);
}