@keyframes pulse {
  0% {
    box-shadow: 0 0 7px 0 var(--coral);
  }
}

.Button{
  position: relative;
  bottom: 0;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 20px;
  padding: 8px 20px;
  text-transform: uppercase;
  color: var(--font-color);
  background-color: rgba(255, 255, 255, .2);
  border-radius: 3px;
  text-shadow: 1px 1px 2px var(--grafite);
  box-shadow: 1px 1px 2px var(--grafite);

  &:hover,
  &:focus {
    animation: pulse .4s;
    box-shadow: 0 0 7px 1em rgba(#fff,0);
    border-color: var(--coral);
    color: var(--coral);
    text-shadow: 1px 1px 2px var(--dark-red);
  }
}